*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  padding: 2rem 1.5rem;
  background-color: dodgerblue;
  color: white;
  text-align: center;
}

h1,
h2 {
  font-weight: normal;
}

main {
  padding: 2rem 1.5rem;
}

form {
  padding: 1rem 0.5rem;
}

fieldset {
  border: 2px dotted black;
  padding: 0.75rem 0.5rem;
}

fieldset > legend {
  color: dodgerblue;
  font-size: 1.2rem;
}

fieldset + button {
  margin-top: 1.75rem;
}

fieldset > * + * {
  margin-top: 0.5rem;
}

button {
  padding: 0.75rem;
  color: white;
  background-color: dodgerblue;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.35rem;
}

input[type="radio"] {
  accent-color: dodgerblue;
}

.additional > label {
  display: block;
  margin-bottom: 0.25rem;
  color: dodgerblue;
}

.additional > input[type="text"] {
  width: 100%;
  margin-bottom: 0.35rem;
  padding: 0.35rem 0.5rem;
  font-size: 1.1rem;
  margin-bottom: 1.15rem;
}

/* custom styling of form elements */
.radioField {
  position: absolute;
  opacity: 0;
}

.radioField + label::before {
  content: "";
  display: inline-block;
  width: 1.1rem;
  height: 1.1rem;
  aspect-ratio: 1;
  border: 1px solid black;
  border-radius: 50%;
  margin-inline-end: 0.35rem;
}

.radioField:checked + label::before {
  background: #ff3300;
  box-shadow: inset 0 0 0 3px whitesmoke;
  border-color: dodgerblue;
}

.additional > input[type="text"]:hover {
  border: 2px solid #0066cc;
  border-radius: 2px;
}

.additional > input[type="text"]:focus {
  outline: 2px solid #ff3300;
  outline-offset: 1px;
  border-radius: 2px;
}

button:hover {
  background-color: #0066cc;
}

button:focus {
  outline: 1px solid dodgerblue;
  outline-offset: 2px;
}

.selectCSS {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding: 0.5rem 1.5rem 0.5rem 0.75rem;
  font-size: 1.1rem;
  font-family: sans-serif;
  font-weight: 500;
  color: #333;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(#fff, #eee);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.75rem auto, 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.selectCSS:hover {
  border: 1px solid dodgerblue;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(#eee, #fff);
}

.selectCSS:focus {
  outline: none;
  border-color: #0066cc;
  box-shadow: 0 0 1px 3px rgba(0, 102, 204, 0.75);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
}
