body {
  background-color: #fff;
  color: #333;
  font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 1em;
  margin: 0;
}

* {
  box-sizing: border-box;
}

form > div {
  margin-bottom: 1.1rem;
}

form > div > div {
  display: flex;
  justify-content: space-between;
  max-width: 75%;
}

label {
  display: block;
  margin-bottom: 0.35rem;
}

input {
  padding: 0.5rem 0.75rem;
  font-size: 1.1rem;
  color: black;
  width: 100%;
  max-width: 75%;
}

input:invalid {
  border: 2px solid red;
}

button {
  padding: 0.75rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
  background-color: #0033ff;
  border: none;
  border-radius: 0.35rem;
}
